<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Телефонная книга</title>
</head>
<body>
    <div class="container">
        <h1>Телефонная книга</h1>
        <form action="/add" method="POST">
            <input type="text" name="name" placeholder="Имя" required>
            <input type="text" name="phone" placeholder="Номер телефона" required>
            <input type="submit" value="Добавить контакт">
        </form>
        <form action="/clear" method="POST">
            <button type="submit" class="clear-button">Очистить все контакты</button>
        </form>
        <ul class="contact-list">
            {% for contact in contacts %}
                <li>{{ contact.name }} - {{ contact.phone }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>